[include]
  path = .gitconfig.local
[color]
  status      = auto
  diff        = auto
  branch      = auto
  interactive = auto
  grep        = auto
[core]
  editor       = vim
  excludesfile = ~/.gitignore_global
  quotepath    = false
[push]
  default = nothing
[merge]
  ff = false
[pull]
  ff = only
[alias]
  st                     = status
  ci                     = commit -v
  co                     = checkout
  br                     = branch
  df                     = diff
  rp                     = rev-parse
  ranking                = shortlog -ns
  refs                   = !git checkout $(git branch | peco | awk '{ print $NF }')
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d % && git fetch --prune
  # http://inside.pixiv.net/entry/2014/03/26/100539
  quicktag               = !git tag $(date +%Y%m%d%H%M)
  cf                     = cat-file -p
  sb                     = show-branch
  sr                     = show-ref
